include header

block content
    section.container.vs-main
        .row
            .col-xs-12
                a.bramainKv.pcKv(href='location.php')
                    img.img-responsive(alt='维多利亚的秘密文胸,内衣', src='images/kv/homepageKV.gif')
                a.bramainKv.mobKv(href='location.php')
                    img.img-responsive(alt='维多利亚的秘密文胸,内衣', src='images/mobkv/homepageKV.jpg')
include footer