include header

block content
    section.container.vs-404
        .row
            .col-xs-12
                img.img-responsive(alt='', src='images/kv_404.jpg')
                .vs-404text
                    img.img(src='images/kv_404text.png')
                    a.vs-404return(href='index.php')
                        img(src='images/return.png')
include footer